# SQL Part 3 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free reference your previous notebooks.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You are an employee at a small independet bookstore and you have been tasked to increase sales.  You decide to use the BooksDB to find books and themes to highlight in fun promotions throughout each month / season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of events/ promotions to run each month.  If you are looking for ideas to include in your promotions:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, Dr Seuss Day(3/2), National Pie Day3/14, St Patrick's Day (3/17), Season - Spring

### **Event 1:** Women's History Month

Goal: Highlight Popular Womans Authors based on ratings from the Good Reads DB.

### **Write a query that returns tag\_id, the number of times each tag\_id is used and the tag\_name.**  

### Use the GROUP BY and HAVING clause to narrow your focus.

Try multiple keywords, ie woman vs female (female ended up giving better results)

In [5]:
SELECT TOP 10 t.tag_name, bt.tag_id, SUM(bt.count) AS total
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.tags AS t 
ON bt.tag_id = t.tag_id
GROUP BY t.tag_name, bt.tag_id
HAVING t.tag_name LIKE '%female%'
ORDER BY total DESC

tag_name,tag_id,total
female-author,11643,17999
female-authors,11644,13690
female-protagonist,11658,2554
female-detective,11646,302
female-pov,11656,155
female-writers,11662,147
female,11642,133
female-lead,11652,61
strong-female-lead,28834,61
female-detectives,11647,59

### **Which keyword(s) and tag(s) would you like to explore more?**

Double click to edit.

### **Write a query to return authors, titles, ratings and** **selected tag(s)\_id.**

In [7]:
-- Solution

SELECT TOP 5 b.authors, b.title, b.average_rating, bt.tag_id
FROM  BooksDB.dbo. books AS b 
INNER JOIN  BooksDB.dbo.book_tags AS bt 
ON b.best_book_id = bt.goodreads_book_id
WHERE tag_id = 11643 OR tag_id = 11644
ORDER BY average_rating DESC

authors,title,average_rating,tag_id
"J.K. Rowling, Mary GrandPré","The Harry Potter Collection 1-4 (Harry Potter, #1-4)",4.66,11643
Jane Austen,The Complete Novels,4.55,11644
Bisco Hatori,"Ouran High School Host Club, Vol. 15 (Ouran High School Host Club, #15)",4.54,11643
Robin Hobb,"Fool's Quest (The Fitz and The Fool, #2)",4.53,11643
Robin Hobb,"Fool's Quest (The Fitz and The Fool, #2)",4.53,11644

### **Record your thoughts about why you wrote the query the way you did.**

#  Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions.

Which month did you choose?  

What 2 events / promotions are you highlighting?

> 1. October

> 2. Halloween, world smile day

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in the BooksDB to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a HAVING clause.

In [25]:
-- Event 1 
SELECT  count(t.tag_name) as "total count",t.tag_name, bt.tag_id
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.tags AS t 
ON bt.tag_id = t.tag_id
GROUP BY t.tag_name, bt.tag_id
HAVING t.tag_name LIKE '%halloween%'
ORDER BY count(t.tag_name) DESC

total count,tag_name,tag_id
63,halloween,13873
6,halloween-reads,13876
2,halloween-books,13874
1,halloween-reading,13875
1,halloween-storytime,13877
1,holiday-halloween,14698
1,holidays-halloween,14706
1,spooky-reads-for-halloween,28416

### **Summary of event 1:**  

### The highest number of tag\_name for halloween is 63

In [28]:
-- Event 2 Query
SELECT TOP 10  t.tag_name, bt.tag_id, SUM(bt.count) AS total
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.tags AS t 
ON bt.tag_id = t.tag_id
GROUP BY t.tag_name, bt.tag_id
HAVING t.tag_name LIKE '%smile%'
ORDER BY total DESC

tag_name,tag_id,total
smile,27962,382
george-smiley,13074,110
jane-smiley,16177,31
smiley,27963,17
smiley-jane,27964,6

### **Summary of event 2:**

There are 5 tag\_names with smile